.card img{
	height: 200px;
	width: 200px;
	margin-left: 300px;
	margin-top: 50px;
}

.card img .card-img-top{
	margin-bottom: 500px;
	margin-left: 10px;
}
.card{
	background: linear-gradient(to bottom, rgb(255, 128, 0), rgb(255, 255, 255));

}
.bg-custom {
	background-color: #f3b021;
}

.btn-custom {
	background-color: #f3b021;
	color: #fff;
	transition: all 0.5s;
}

.btn-custom:hover {
	background-color: #FF7F50;
	color: #fff;
	transform: scale(1.05);
}


.btn-custom-danger {
	background-color: #c20031;
	color: #fff;
	transition: all 0.5s;
}

.btn-custom-danger:hover {
	background-color: #900b29;
	color: #fff;
	transform: scale(1.05);
}

.pagination {
	align-items: center;
	justify-content: center;
}
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: montserrat;

}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    background: linear-gradient(45deg,#F44336,#3F51B5);
}

p {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;
}

.section{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}

.card{
    position: relative;
    width: 320px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0,.5)
}


.side{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .side.side1{
    box-sizing: border-box;
    padding: 20px;
}

.card .side.side1 h2 {
    margin: 0;
    padding: 0;
    margin-bottom: .5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.card .side.side2{
    background: #111;
    transition: .5s;
}

.card .side.side2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,.1);
}

.card:hover .side.side2{
    height: 60px;
}


.card:hover .side.side2 h2{
    font-size: 2em;
}
.card .side.side2 h2{
     margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: .5s;
}

.card:nth-child(1) .side.side2 {
    background: linear-gradient(45deg,#00BCD4,#2196F3);
}
.card:nth-child(2) .side.side2 {
    background: linear-gradient(45deg,#FFC107,#00BCD4);
}
.card:nth-child(3) .side.side2 {
    background: linear-gradient(45deg,#FF5722,#E91E63);
}
