* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --dark-color: #1a1a1a;
    --white-color: #ffffff;
    --light-grey-color: #f5f5f5;
    --gold-color: #ffb944;
}



html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin:33px;
}

.bgDark { background-color: var(--dark-color); }
.bgLight { background-color: var(--white-color); }
.bgLightGrey { background-color: var(--light-grey-color); }

.colorDark { color: var(--dark-color) !important; }

h1 { font-size: 66px; font-weight: 700; line-height: 80px; }
h2 { font-size: 48px; margin-bottom: 30px; }
h3 { font-size: 33px; }
h5 { margin-bottom: 0px; }

p {
    font-size: 18px;
    color: var(--dark-color);
    opacity: .5;
    line-height: 1.8;
    margin-bottom: 0px;
}

a:hover { text-decoration: none; }

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-primary {
    background-color: var(--dark-color);
    color: var(--white-color);
    border: 2px solid var(--dark-color);
}

.btn-secondary {
    background-color: var(--white-color);
    color: var(--dark-color);
    border: 2px solid var(--white-color);
}

.btn-alternate {
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
}

.btn-primary:hover { background-color: var(--dark-color); border: 2px solid var(--dark-color); }
.btn-secondary:hover { background-color: var(--white-color); color: var(--dark-color); border: 2px solid var(--white-color); }
.btn-secondary:focus { background-color: var(--white-color) !important; outline: none; border: 2px solid var(--white-color) !important; box-shadow: none; }

    
section { padding: 120px 0; }

.divider { border-bottom: 2px solid var(--light-grey-color); }

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}


/* //////////////
   welcome
//////////////*/

#welcome {
    background-image: url(../imgs/hero.jpg);
    background-size: cover;
    min-height: 554px;
    color: var(--white-color);
}

#welcome p {
    color: var(--dark-color);
}

/* //////////////
   semillero
//////////////*/

.semillero-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
    margin-left: 140px;
    width: 450px;
    height: 450px;
}

.semillero-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.semillero-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

h3 {
    margin-left: 150px;
}
/* //////////////
   evento
//////////////*/

.side{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .side.side1{
    box-sizing: border-box;
    padding: 20px;
}

.card .side.side1 h2 {
    margin: 0;
    padding: 0;
    margin-bottom: .5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.card .side.side2{
    background: #111;
    transition: .5s;
}

.card .side.side2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,.1);
}

.card:hover .side.side2{
    height: 60px;
}


.card:hover .side.side2 h2{
    font-size: 2em;
}
.card .side.side2 h2{
     margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: .5s;
}

.card:nth-child(1) .side.side2 {
    background: linear-gradient(45deg,#FFC107,#d46600);
}
.card:nth-child(2) .side.side2 {
    background: linear-gradient(45deg,#FFC107,#d46600);
}
.card:nth-child(3) .side.side2 {
    background: linear-gradient(45deg,#ff9122,#ffff);
}
.section{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}

.card{
    position: relative;
    width: 320px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0,.5)
}

/* //////////////
   carousel
//////////////*/

.carousel {
    min-height: 240px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
}

.carousel-item p {
    font-size: 26px;
    font-weight: 400;
    color: var(--dark-color);
}

.carousel-indicators li {
    background-color: var(--dark-color);
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8px;
}

.carousel-control-next, .carousel-control-prev { 
    color: var(--white-color);
    opacity: 1;
    width: 5%;
}

.control-button {
    background-color: var(--dark-color);
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    font-size: 20px;
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}



/* //////////////
   Media queries
//////////////*/

@media (max-width: 575.98px) { 
    h1 { font-size: 40px; line-height: normal; }
    .portfolio-details h2 { font-size: 32px; }
    .plans { min-width: unset; padding: 40px; }
    .carousel-item p { font-size: 20px; }

    .footer-menu { 
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .portfolio-details h2 { font-size: 30px; }
    .plans { min-width: unset; padding: 40px 20px;}
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }


.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:300px;
    height:300px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}